*{ margin: 0;
	padding: 0;
 }
.clearfix { overflow: auto; }

a {text-decoration: none;}
.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.top-bar {
	width: 1000px;
	background-image: url(../Images/back.jpg);

}

.top-bar-links {
	float: left;
	
}

.site-search{
	padding: 0 10px;
	background: white;
	float: right;
	margin: 15px;
	border-radius: 10px;
}

.site-search input {
	border: none;
}

.site-search button {
	border: none;

}
.top-bar-links ul{
	list-style: none;
	margin: 15px;
}
.top-bar-links ul li{
	display: inline-block;
	font-size: 20px;
}
.top-bar-links ul li a {
	color: white;
	padding: 0 10px;
	border-right: 1px solid white;
}
.top-bar-links ul li a:hover {
	color: blue;
}
.top-bar-links ul li:first-child {
	border-left: 1px solid white;
}
.title {
	
	
	margin-bottom: 40px;
	
	float: left;
	border-radius: 5px;
	font-size: 30px;

}
.s-media {
	float: right;
}
.s-media ul{
	list-style: none;
	margin: 15px;

}
.s-media ul li{
	
	display: inline;
}
.s-media ul li a img{
	padding: 6px;
	border-radius: 30px;
	display: inline-block;
	margin: 0px;
}
.s-media ul li a :hover {
	background-color: orange;
}
.s-media {
	background-color: lightgray;
	border-radius: 5px;
}
p {
	font-size: 20px;
}

.desc img {
	width:550px;
	float: right;

}
.desc p{
	width: 440px;
	float: left;
	margin-right: 10px;
}
.desc2 p {
	width: 1000px;
	display: inline-block;
	margin-top: 30px;
	}
video {
	width : 1000px;
	margin-bottom: 20px;
}
.desc3 p {
	margin-bottom: 30px;
}